:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #e5e2b0;
  font-family: 'Courier New',
    Courier,
    monospace;
}

header {
  width: 100%;
  padding: 1em auto;
}

header>h1 {
  text-align: center;
  color: #7f2d38;
}

.mini-img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.mini-img>figure {
  margin: 0;
}

.mini-img img {
  max-width: 100%;
}

.mini-img img:hover {
  cursor: pointer;
}

/* modal settings */
button {
  padding: 0.5em 0.7em;
  background-color: rgba(0, 0, 0, 0.1));
  font-size: 1em;
}

.modal {
  display: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 25%;
  left: 30%;
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
  z-index: 2;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  padding: 0.3em;
  font-size: 2em;
  height: 1em;
  width: 1em;
  text-indent: 10em;
  overflow: hidden;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}

.modal-close::after {
  position: absolute;
  line-height: 0.5;
  top: 0.2em;
  left: 0.1em;
  text-indent: 0;
  content: "\00D7";
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

#footer {
  width: 100%;
  margin-top: 1em;
  padding: 2em;
}